	<include file="Share/header" />
	<!-- banner -->
	<section class="part1">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="__PUBLIC__/home/assets/images/banner1.png" />
				</div>
				<div class="swiper-slide">
					<img src="__PUBLIC__/home/assets/images/banner2.png" />
				</div>
				<div class="swiper-slide">
					<img src="__PUBLIC__/home/assets/images/banner3.png" />
				</div>
			</div>
			<div class="swiper-button-prev"></div>
			<!--左箭头-->
			<div class="swiper-button-next"></div>
			<!--右箭头-->
		</div>
	</section>
	<!-- product -->
	<section>
		<h5 class="section_title">博翰产品展示专区</h5>
		<div class="section_title_line"></div>
		<h5 class="section_title_en">PRODUCT</h5>
		<p class="cooper">
			无锡博翰厂家9年专业专注生产气动打标机、电动打标机、激光打标机、电化学打标机等，库存充足，可免费打样试机，承接各式非标定制，加工维修等业务。标记工整清晰,加工效率高。关键部件采用进口部件，决非市面上的劣质产品,机器质量稳定故障少寿命长。热销超过2000台,客户超过10个国家。
		</p>
		<div class="index_product">
			<div>
				<h5>按类型分类</h5>
				<ul>
					<li>电磁打标机</li>
					<li>电磁打标机</li>
					<li>电磁打标机</li>
					<li>电磁打标机</li>
					<li>电磁打标机</li>
					<li>电磁打标机</li>
				</ul>
			</div>
			<div>
				<h5>按应用分类</h5>
				<ul>
					<li>电磁打标机</li>
					<li>电磁打标机</li>
					<li>电磁打标机</li>
					<li>电磁打标机</li>
					<li>电磁打标机</li>
					<li>电磁打标机</li>
				</ul>
			</div>
			<div>
				<h5>按功能分类</h5>
				<ul>
					<li>电磁打标机</li>
					<li>电磁打标机</li>
					<li>电磁打标机</li>
					<li>电磁打标机</li>
					<li>电磁打标机</li>
					<li>电磁打标机</li>
				</ul>
			</div>
		</div>
		<p class="find_more_product"><a href="#">查看博翰更多打标机产品系列 &gt;&gt;</a></p>
	</section>
	<!-- product_more -->
	<section class="more_product">
		<ul>
			<li> <img src="__PUBLIC__/home/assets/images/pro1.png" />
				<p>手持式电动打标机</p>
			</li>
			<li> <img src="__PUBLIC__/home/assets/images/pro1.png" />
				<p>手持式电动打标机</p>
			</li>
			<li> <img src="__PUBLIC__/home/assets/images/pro1.png" />
				<p>手持式电动打标机</p>
			</li>
			<li> <img src="__PUBLIC__/home/assets/images/pro1.png" />
				<p>手持式电动打标机</p>
			</li>
			<li> <img src="__PUBLIC__/home/assets/images/pro1.png" />
				<p>手持式电动打标机</p>
			</li>
			<li> <img src="__PUBLIC__/home/assets/images/pro1.png" />
				<p>手持式电动打标机</p>
			</li>
			<li> <img src="__PUBLIC__/home/assets/images/pro1.png" />
				<p>手持式电动打标机</p>
			</li>
			<li> <img src="__PUBLIC__/home/assets/images/pro1.png" />
				<p>手持式电动打标机</p>
			</li>
		</ul>
		<p>全国24小时服务热线：<span>13615319439</span></p>
	</section>
	<!-- about -->
	<section>
		<h5 class="section_title">关于我们</h5>
		<div class="section_title_line"></div>
		<h5 class="section_title_en">ABOUT</h5>
		<div class="index_about">
			<img src="__PUBLIC__/home/assets/images/factory_test.jpg" />
			<div>
				<p>{$about}</p>
				<div class="index_about_more">
					<span>公司简介</span>
					<span>企业文化</span>
					<span>技术实力</span>
					<span>企业荣誉</span>
					<span>典型客户</span>
					<span>公司团队</span>
				</div>
			</div>
		</div>
	</section>
	<section class="part7">
		<div>
			<!-- <h4>服务支持</h4> -->
			<ul>
				<li>
					<h5>一站式</h5> <img src="__PUBLIC__/home/assets/images/serviceyizhanshigouqi.png" />
					<p>打标机品种齐全，质量保证，配件丰富，大量现货</p>
				</li>
				<li>
					<h5>非标定制</h5> <img src="__PUBLIC__/home/assets/images/dingzhijiaju.png" />
					<p>根据客户实际需要定制研发各种类型非标打标机及自动化流水线</p>
				</li>
				<li>
					<h5>免费打样</h5> <img src="__PUBLIC__/home/assets/images//huowu.png" />
					<p>提供各款类型打标机的免费打样</p>
				</li>
				<li>
					<h5>维修加工</h5> <img src="__PUBLIC__/home/assets/images/weixiu.png" />
					<p>长期承接各款类型打标机检测维修配件、来料加工等服务</p>
				</li>
				<li>
					<h5>3天发货</h5> <img src="__PUBLIC__/home/assets/images/wuliuqiache.png" />
					<p>标准打标机48小时内发货，非标定制一星期左右</p>
				</li>
				<li>
					<h5>贴心服务</h5> <img src="__PUBLIC__/home/assets/images/fuwu.png" />
					<p>一年免费保修，终身维护</p>
				</li>
			</ul>
		</div>
	</section>
	<section class="index_other">
		<img src="__PUBLIC__/home/assets/images/other.png" />
	</section>
	<section class="index_cooperative">
		<h5 class="section_title">合作伙伴</h5>
		<div class="section_title_line"></div>
		<h5 class="section_title_en">COOPERATIVE</h5>
		<p class="cooper">博翰通过9年技术沉淀和发展，现已与国内外很多汽车制造、仪器仪表、航天和竣工等企业合作成功</p>
		<ul>
			<li><img src="__PUBLIC__/home/assets/images/other_logo.jpg" /></li>
			<li><img src="__PUBLIC__/home/assets/images/other_logo.jpg" /></li>
			<li><img src="__PUBLIC__/home/assets/images/other_logo.jpg" /></li>
			<li><img src="__PUBLIC__/home/assets/images/other_logo.jpg" /></li>
			<li><img src="__PUBLIC__/home/assets/images/other_logo.jpg" /></li>
			<li><img src="__PUBLIC__/home/assets/images/other_logo.jpg" /></li>
			<li><img src="__PUBLIC__/home/assets/images/other_logo.jpg" /></li>
			<li><img src="__PUBLIC__/home/assets/images/other_logo.jpg" /></li>
			<li><img src="__PUBLIC__/home/assets/images/other_logo.jpg" /></li>
			<li><img src="__PUBLIC__/home/assets/images/other_logo.jpg" /></li>
		</ul>
	</section>
	<section class="index_news">
		<div>
			<div class="news_type">
				<div class="news_title_change">
					<h5>公司新闻</h5>
					<h5 style="margin-left:280px;">行业咨询</h5>
				</div>
			</div>
			<div class="news_type_list">
				<ul>
					<volist name="co_new_list" id="vo">
						<li>{$vo.title}</li>
					</volist>
				</ul>
				<ul>
					<volist name="ind_new_list" id="vo">
						<li>{$vo.title}</li>
					</volist>
				</ul>
			</div>
		</div>
		<div class="index_answer">
			<h5>常见问答</h5>
			<div>
				<ul>
					<li>
						<h4>激光打标机品牌厂家哪家好？激光打标机赚钱吗</h4>
						<p>济南激光打标机厂家哪家好？首选济南鲁岳数控，拥有强大的科研技术基础，管理严格水平先进的生产条件，产品质量与可靠性在国...</p>
					</li>
					<li>
						<h4>激光打标机品牌厂家哪家好？激光打标机赚钱吗</h4>
						<p>济南激光打标机厂家哪家好？首选济南鲁岳数控，拥有强大的科研技术基础，管理严格水平先进的生产条件，产品质量与可靠性在国...</p>
					</li>
					<li>
						<h4>激光打标机品牌厂家哪家好？激光打标机赚钱吗</h4>
						<p>济南激光打标机厂家哪家好？首选济南鲁岳数控，拥有强大的科研技术基础，管理严格水平先进的生产条件，产品质量与可靠性在国...</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="index_form_a">
		<h5 class="section_title">我要定制</h5>
		<div class="section_title_line"></div>
		<h5 class="section_title_en">ORDER</h5>
		<p class="cooper"> 如果您对博翰厂家的打标机产品感兴趣，请填写留言，我们会尽快和您联系，提供合适的打标设备解决方案供您选择！主动联系我们会有惊喜奉送。拨打专线：<span
				style="color:#ff0000">0510-83883937</span> </p>
		<div class="index_form">
			<div>
				<div>
					<input type="" name="" placeholder="姓名" />
					<input type="" name="" placeholder="电话" />
					<input type="" name="" placeholder="邮箱" />
				</div>
				<div>
					<textarea>填写你的需求</textarea>
				</div>
				<div class="submit_btn">
					立即提交
				</div>
			</div>
			<img src="__PUBLIC__/home/assets/images/other1.png" />
		</div>
	</section>
	<include file="Share/footer" />