<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$system.title}</title>
    <meta name="description" content="{$system.desc}">
    <meta name="keywords" content="{$system.keyword}">
    <link href="https://cdn.bootcss.com/Swiper/4.4.6/css/swiper.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/assets/css/index.css">
</head>

<body>
    <!-- logo -->
    <header>
        <div>
            <div class="logo">
                <img src="__PUBLIC__/home/assets/images/logo.png">
                <p>无锡博翰<br>自动化设备</p>
            </div>
            <div class="logotitle">
                <h3>9年专业打标机研发制造企业</h3>
                <p>专业专注生产气动/电动/激光/电化学打标机生产研发，非标定制</p>
            </div>
            <div class="logocont">
                <p>销售热线：0510-83883937</p>
                <p>15861465694（微信同号）</p>
            </div>
        </div>
    </header>

    <!-- nav -->
    <nav>
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="#">产品中心</a></li>
            <li><a href="#">应用解决方案</a></li>
            <li><a href="#">新闻资讯</a></li>
            <li><a href="#">服务专区</a></li>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">联系我们</a></li>
            <li><a href="#" style="color:#ff0000;font-weight: 700;">免费打样试机</a></li>
        </ul>
    </nav>

    <!-- 详细导航 -->
    <section class="nav_detail">
        <div class="product_nav hide">
            <ul>
                <li>
                    <h5>气动打标机</h5>
                </li>
                <li>电动打标机</li>
                <li>台式气动打标机</li>
                <li>便携气动打标机</li>
                <li>旋转圆周打标机</li>
                <li>法兰气动打标机</li>
                <li>非标气动打标机</li>
                <li>气动打标针及配件</li>
            </ul>
            <ul>
                <li>
                    <h5><a href="product.html">激光打标机</a></h5>
                </li>
                <li><a href="product_a.html">光纤激光打标机</a></li>
                <li>CO2激光打标机</li>
                <li>紫光激光打标机</li>
                <li>半导体激光打标机</li>
                <li>在线飞行打标机</li>
                <li>非标激光打标机</li>
                <li>激光打标机配件</li>
            </ul>
            <ul>
                <li>
                    <h5>电腐蚀打标机</h5>
                </li>
                <li>电腐蚀打标机</li>
                <li>电腐蚀打标机配件</li>
            </ul>
            <ul>
                <li>
                    <h5>凸字打码机</h5>
                </li>
                <li>PVC会员卡凸字机</li>
                <li>金属铭牌凸字机</li>
                <li>烙印烫金机</li>
            </ul>
            <ul>
                <li>
                    <h5>自动化专业设备</h5>
                </li>
                <li>自动化生产线</li>
                <li>自动化打标设备</li>
                <li>飞行打标输送带</li>
                <li>激光分页机</li>
                <li>工业机器人.系统</li>
            </ul>
            <ul>
                <li>
                    <h5>手动打标机</h5>
                </li>
                <li>铭牌手动打标机</li>
                <li>双色金属刻字机</li>
                <li>电动刻字笔</li>
                <li>气动刻字笔</li>
            </ul>
            <ul>
                <li>
                    <h5>附件定制</h5>
                </li>
                <li>丝印网版</li>
                <li>标牌铭牌</li>
                <li>贵宾会员卡</li>
                <li>电缆线缆挂牌</li>
                <li>钢字头冲字模</li>
            </ul>
            <ul>
                <li>
                    <h5>博翰服务</h5>
                </li>
                <li>免费打样</li>
                <li>来料加工</li>
                <li>检测维修</li>
                <li>非标定制</li>
                <li>欢迎咨询</li>
            </ul>
        </div>
        <div class="yingyong_nav hide">
            <ul>
                <li><a href="yingyong_detail.html">气动打标机-应用案例</a></li>
                <li>激光打标机-应用案例</li>
                <li>电腐蚀打标机-应用案例</li>
                <li>铭牌打标机-应用案例</li>
                <li>凸字打码机-应用案例</li>
                <li>手动打标机-应用案例</li>
            </ul>
            <ul>
                <li>
                    <h5>激光打标机-应用案例</h5>
                    <p>各种类型激光打标机在不同行业打印的样品展示和工厂现场展示</p>
                    <img src="__PUBLIC__/home/assets/images/yingyong_test.jpg">
                </li>
            </ul>
            <ul>
                <li>
                    <h5>气动打标机-应用案例</h5>
                    <p>各种类型气动打标机在不同行业打印的样品展示和工厂现场展示</p>
                    <img src="__PUBLIC__/home/assets/images/yingyong_test.jpg">
                </li>
            </ul>
            <ul>
                <li>
                    <h5>手动打标机-应用案例</h5>
                    <p>各种类型手动打标机在不同行业打印的样品展示和工厂现场展示</p>
                    <img src="__PUBLIC__/home/assets/images/yingyong_test.jpg">
                </li>
            </ul>
        </div>

        <div class="news_nav hide">
            <ul>
                <li>行业资讯</li>
                <li>技术支持</li>
                <li>解决方案</li>
                <li>公司新闻</li>
            </ul>
            <ul>
                <li>
                    <h5>气动打标机常见故障及处理办法</h5>
                    <p>详细内容</p>
                    <img src="__PUBLIC__/home/assets/images/yingyong_test.jpg">
                </li>
            </ul>

            <ul>
                <li>
                    <h5>气动打标机常见故障及处理办法</h5>
                    <p>详细内容</p>
                    <img src="__PUBLIC__/home/assets/images/yingyong_test.jpg">
                </li>
            </ul>
            <ul>
                <li>
                    <h5>气动打标机常见故障及处理办法</h5>
                    <p>详细内容</p>
                    <img src="__PUBLIC__/home/assets/images/yingyong_test.jpg">
                </li>
            </ul>
        </div>

        <div class="service_nav hide">
            <ul>
                <li>服务政策</li>
                <li>下载中心</li>
                <li>常见问题</li>
                <li>问题反馈</li>
                <li>客户培训</li>
                <li>视屏专区</li>
            </ul>
            <ul>
                <li>
                    <h5>服务政策</h5>
                    <p>无锡博翰打标机提供专业的打标机咨询,完善的售后服务政策:随时为客户提供便捷的服务.</p>
                    <img src="__PUBLIC__/home/assets/images/yingyong_test.jpg">
                </li>
            </ul>
            <ul>
                <li>
                    <h5>客户培训</h5>
                    <p>无锡博翰打标机提供客户打标机操作培训形式:现场培训、远程指导、邮寄函件等</p>
                    <img src="__PUBLIC__/home/assets/images/yingyong_test.jpg">
                </li>
            </ul>
            <ul>
                <li>
                    <h5>问题反馈</h5>
                    <p>无锡博翰打标机将竭诚为您服务提供各款类型的打标机常见问题解答!</p>
                    <img src="__PUBLIC__/home/assets/images/yingyong_test.jpg">
                </li>
            </ul>
        </div>

        <div class="about_nav hide">
            <ul>
                <li><a href="/Home/About/index">公司简介</a></li>
                <li>企业文化</li>
                <li>技术实力</li>
                <li>企业荣誉</li>
                <li>典型客户 </li>
                <li>公司团队</li>
            </ul>
            <ul>
                <li>
                    <h5>公司简介</h5>
                    <p>无锡博翰主要产品包括：气动打标机、光纤激光打标机、二氧化碳激光打标机、电腐蚀打标机</p>
                    <img src="__PUBLIC__/home/assets/images/yingyong_test.jpg">
                </li>
            </ul>
            <ul>
                <li>
                    <h5>团队风采</h5>
                    <p>我们是一个有激情的团队，急客户之所急，不轻言放弃；我们积极主动为客户提供打标机各种服务</p>
                    <img src="__PUBLIC__/home/assets/images/yingyong_test.jpg">
                </li>
            </ul>
            <ul>
                <li>
                    <h5>技术实力</h5>
                    <p>无锡博翰打标机有限公司有自己专业的设计研发团队</p>
                    <img src="__PUBLIC__/home/assets/images/yingyong_test.jpg">
                </li>
            </ul>
        </div>

        <div class="contact_nav hide">
            <div>
                <h5>无锡博翰自动化设备有限公司</h5>
                <p>标准化批量生产，免费打样试机</p>
                <p>质量稳定，品质保障，服务赢得市场</p>
            </div>
            <div>
                <p>销售客服电话：皋红霞 15861465694（微信同号）</p>
                <p style="text-indent: 7em;">刘&emsp;轩 13205226606（微信同号）</p>
                <p>总部工厂地址：无锡市惠山区玉祁镇堰玉路176号</p>
                <p>设备 快速咨询： 345848834</p>
                <p>网络运营 QQ:345848834（网络合作或友链申请）</p>
                <p>电 话：0510-83883937</p>
                <p>邮 箱：623005190@qq.com </p>
                <p>全国售后直线：15000968280（公司售后服务中心）</p>
                <p>公司官网：http://www.wxbhdbj.com </p>
            </div>
            <img src="__PUBLIC__/home/assets/images/yingyong_test.jpg">
        </div>
    </section>